{% extends "base.html" %}
{% load static %}

{% block title %}Gallery-eMobilis{% endblock %}
{% block header %} Welcome to gallery =){% endblock %}
{% block content %}
    <p>This is the page that enables us to store pictures of some of our projects.</p>
    <img src="{% static 'images/t 1.jpeg' %}" alt="">
    <img src="{% static 'images/t 2.jpeg' %}" alt="">
    <img src="{% static 'images/t 3.jpeg' %}" alt="">
    <img src="{% static 'images/t 4.jpeg' %}" alt="">
    <img src="{% static 'images/t 5.jpeg' %}" alt="">
{% endblock %}